<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.jprichter.squaresandroots" >

    <!-- use an instance of SquaresRootsApp as bootloader -->
    <application
        android:name=".SquaresRootsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="roboguice.modules"
            android:value="eu.jprichter.squaresandroots.kernel.impl.KernelModule" />

        <activity
            android:name=".ui.QuestionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AnswerActivity"
            android:label="@string/title_activity_check"
            android:parentActivityName=".ui.QuestionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.jprichter.squaresandroots.ui.QuestionActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.QuestionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.jprichter.squaresandroots.ui.QuestionActivity" />
        </activity>

    </application>

</manifest>
